@using MyWatchWatch.Models
@model IEnumerable<Product>

@foreach (var item in Model)
{
    <div class="col-md-3 product-left">
        <div class="product-main simpleCart_shelfItem">
            <a href="@Url.Action("Details", "Home", new { id = item.ProductId })" class=""><img class="img-responsive zoom-img" src="~/MyImg/Products/@item.ImgProducts.FirstOrDefault().Img_Product" alt="" /></a>
            <div class="img-overlay">
            </div>
            <div class="product-bottom text-center">
                <h3>@item.ProductName</h3>
                <p>@item.ProductDetails</p>
                <h4><a class="" href="#"><i></i></a> <span class=" item_price">$ @Html.DisplayFor(modelItem => item.ProductSold)</span></h4>
            </div>
            <div class="srch">
                <span>@item.Promotion.PromotionDiscount%</span>
            </div>
        </div>
    </div>  
}